body, html{
  height:99%;
}
body{
  margin: 0px;
  font-size: 18px;
  background-image: url("https://lh3.googleusercontent.com/proxy/iOqoW6pQLrePbemzPgx-Rv_InzDlIznxe73tMXWcgtJTCuwhA4ozvWpMQnV3Is3g11JiEV2GK2zzqUOoLUES0ITyW9GXS3ILNlPMHWgCPnXj_VwIatfMe4WxXadhmo8sXLaBzIjk");
  background-color:rgb(16, 30, 224);
  background-size: cover;
}
.danceRoom{
  display: inline-block;
  height: 96%;
  width: 100%;
}
.ceiling{
  display:inline-block;
  height: 33%;
  width: 100%;
}
.floor{
  display:inline-block;
  height: 66.66%;
  width: 100%;
}
.danceFloor{
  height: 60%;
  width: 90%;
  padding-left: 5%;
  padding-right: 5%;
}

body, a:link, a:visited, a:active{
  color: lightblue;
}

.title, .addDancerButton, .lineUpButton{
  padding:5px 12px;
  border-radius:8px;
  display: inline-block;
}
.addDancerButton{
  border-radius: 8px;
  background-color: rgb(2, 102, 34);
}
 .lineUpButton{
  padding: 5px 12px;
  border-radius: 8px;
  display: inline-block;
  width: 8%;
  background-color: rgb(163, 22, 22);
  text-align: center;
}
 .partnerUpButton{
  padding: 5px 12px;
  border-radius: 8px;
  display: inline-block;
  width: 10%;
  background-color: rgb(163, 22, 22);
  text-align: center;
 }
.topbar{
  height:4%;
   margin-left: 18%;
   margin-right: 18%;
}
.title{
  background-color: rgb(163, 22, 22);
}
.dancer{
  border:10px solid rgb(216, 26, 26);
  border-radius:10px;
  position:absolute;
}
.tinaDancer{
  content:url('https://media3.giphy.com/media/3oa9IxsOwewOFM5SAu/giphy.gif');
  height :30%;
  position :absolute;
}
.carltonDancer{
  content:url("https://i.pinimg.com/originals/9b/53/d4/9b53d4eaf1ffb58eca857738ea925fbb.gif");
  height: 30%;
  position :absolute;
}
.dynamiteDancer{
  content:url("https://media1.giphy.com/media/SUtvUAbKeBXiVdqCMB/source.gif");
  height: 30%;
  position :absolute;
}
.mchammerDancer{
  content:url('https://thumbs.gfycat.com/UncommonInfiniteDuckbillplatypus-max-1mb.gif');
  height: 30%;
  position :absolute;
}
#left{
  float:left;
}
