body, html{
  height:99%;
}
body{
  margin: 0px;
  font-size: 18px;
  /* background-image: url('https://thumbs.gfycat.com/PoshHotHeron-size_restricted.gif'); */
  background-image: url('https://lh3.googleusercontent.com/proxy/qQi7KcE_xQJfoDBTpENWnK43oRSD6IrNO0X47JQ18c_nltBn7RthncZ1bwIj7oHa7WXr5afclG5FFnB0iEz8vQwFjxPQge2kYX23SzqmzHjSj7BF3y4bSR_jrVmXEwLNqhLPV66h');
  background-color:rgb(16, 30, 224);
  background-size: cover;
}
.danceRoom{
  display: inline-block;
  height: 96%;
  width: 100%;
  /* border: solid rgb(26, 216, 35); */
  /* display: flex;
  flex-direction: column; */
}
.ceiling{
  /* flex-basis: 33.33%; */
  display:inline-block;
  height: 33%;
  width: 100%;
}
.floor{
  /* flex-basis: 66.66%; */
  display:inline-block;
  height: 66.66%;
  width: 100%;
  /* border: solid rgb(216, 26, 26); */
}
.danceFloor{
  /* flex-basis: 66.66%; */
  height: 60%;
  width: 90%;
  padding-left: 5%;
  padding-right: 5%;
  /* border: solid rgb(216, 181, 26); */
}

body, a:link, a:visited, a:active{
  color: lightblue;
}

.title, .addDancerButton{
  padding:5px 12px;
  border-radius:8px;
  display: inline-block;
}
.addDancerButton{
  border-radius: 8px;
  background-color: rgb(2, 102, 34);
}
.topbar{
  height:4%;
  margin-left: 22%;
  margin-right: 22%;
}
.title{
  background-color: rgb(163, 22, 22);
}
.dancer{
  border:10px solid rgb(216, 26, 26);
  border-radius:10px;
  position:absolute;
}
.tinaDancer{
  content:url('https://media3.giphy.com/media/3oa9IxsOwewOFM5SAu/giphy.gif');
  height :30%;
  position :absolute;
}
.carltonDancer{
  content:url("https://i.pinimg.com/originals/9b/53/d4/9b53d4eaf1ffb58eca857738ea925fbb.gif");
  height: 30%;
  position :absolute;
}
.dynamiteDancer{
  content:url("https://media1.giphy.com/media/SUtvUAbKeBXiVdqCMB/source.gif");
  height: 30%;
  position :absolute;
}

#left{
  float:left;
}