body, html{
  height:100%;
}
body{
  margin: 0px;
  font-size: 18px;
  /* background-image: url('https://thumbs.gfycat.com/PoshHotHeron-size_restricted.gif'); */
  background-image: url('https://lh3.googleusercontent.com/proxy/qQi7KcE_xQJfoDBTpENWnK43oRSD6IrNO0X47JQ18c_nltBn7RthncZ1bwIj7oHa7WXr5afclG5FFnB0iEz8vQwFjxPQge2kYX23SzqmzHjSj7BF3y4bSR_jrVmXEwLNqhLPV66h');
  background-color:rgb(16, 30, 224);
  background-size: cover;
}
.danceRoom{
  display: inline-block;
  height: 96%;
  width: 100%;
  /* border: solid rgb(26, 216, 35); */
  /* display: flex;
  flex-direction: column; */
}
.ceiling{
  /* flex-basis: 33.33%; */
  display:inline-block;
  height: 33%;
  width: 100%;
}
.floor{
  /* flex-basis: 66.66%; */
  display:inline-block;
  height: 66.66%;
  width: 100%;
  /* border: solid rgb(216, 26, 26); */
}
.danceFloor{
  /* flex-basis: 66.66%; */
  height: 100%;
  width: 100%;
  /* border: solid rgb(216, 181, 26); */
}

body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:4%;
  background-color: rgb(7, 146, 30);
  /* margin-bottom: 18% */
}
.title{
  background-color: rgb(163, 22, 22);
}
.dancer{
  border:10px solid rgb(216, 26, 26);
  border-radius:10px;
  position:absolute;
}
.blinkyDancer{
  border:10px solid rgb(42, 216, 26);
  border-radius:10px;
  position:absolute;
}
.breakDancer{
  border:10px solid rgba(4, 20, 241, 0.884);
  border-radius:10px;
  position:fixed;
}